@import './base.css';

#app {
  min-width: 100vw;
  max-width: 1280px;
  padding: 2rem;
  position: static;
  font-weight: normal;
  display: flex;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    /* display: flex; */
  }
}

@media (max-width: 767px) {
  #app {
    min-width: unset;
    padding: .5rem;
    display: flex;
    flex-direction: column;
  }
}

a.big-link,
a.big-link:link,
a.big-link:visited,
a.big-link:focus,
a.big-link:hover,
a.big-link:active {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
}

a.menu-link,
a.menu-link:link,
a.menu-link:visited,
a.menu-link:focus,
a.menu-link:hover,
a.menu-link:active {
    font-size: .75rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
}